*{margin:0 ;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'open sans' , 'sans-serif';
    line-height: 1.6;
    font-size: 1rem;
}
:root{
    --primary-color:green;
    --container-normal:1100px;
    --container-wide:1400px;
    --container-narrow:900px;
}
a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* utility primary */
.bg-primary{
    background: var(--primary-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #333;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn:hover{
    background: #333;
    color: white;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}


.section-heading{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 40px;
}
.container{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg{
     max-width: var(--container-wide);
}
.container-sm{
    max-width: var(--container-narrow);
}

.header{
    margin: 1.5rem, auto;
}
.header .logo{
    width: 130px;
}
.header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu{
    display: flex;
    gap: 1.5rem;
}

.header li{
    font-size: 40px;
}

.header .main-menu a {
    padding: 0.5rem, 1rem;
}
.header .main-menu a:hover {
    padding: 0.5rem, 1rem;
    background:var(--primary-color);
}
.current{
    background: var(--primary-color);
    font-weight: 600px;
}

.hero{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}


.gallery-item{
    flex: 0 0 calc(33.333%-20px);
    max-width: calc(33.3335-20px); 
    overflow: hidden;
    border-radius: 10px; 


}

.gallery-flex{    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    }


.gallery-item img{
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;

}

.gallery-item:hover{
    opacity: 0.9;
}

.footer{
    border: 1px solid #aaa ;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
}
.footer .footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img{
    width: 150px;
    height: 40px;
}

.footer h4{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
footer a{
    margin: 0.2rem;
}

.footer li{
    font-size: 26px;
}

.services{
    background: darkgray;
    color: white;
    padding: 3rem 0 4rem;
}
.services-flex{
    display: flex;
    gap: 2rem;
}

.services-Item h4{
    font-size: 1.4rem;

    margin-bottom: 0.7rem;
}

.services-Item p{
    font-size: 27px;
}

.team{
    padding: 3rem o 4rem;
}

.team-flex{
    display: flex;
    gap: 1.4rem;
}

.team img{
    border-radius: 10px;
}

.team-item h4{
    font-size:30px ;
}
.team-item p{
    font-size:25px ;
}

.contact{
    padding: 3rem 0 4rem;
}

.contact p{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 35px;
}

.contact h2{
    font-size: 40px;
}

.form-group{
    margin: 2rem 0;
}

.contact input,
.contact textarea{
    border: none;
    border-bottom: 1px #333 solid;
    width: 100%;
    font-family: inherit;
    font-size: 40px;
    padding-bottom: 1rem;
}

.contact textarea{
    height: 200px;
}

.contact input:focus,
.contact textarea:focus{
    outline: 0;
}

.contact button{
    width: 100%;
}



@media(max-width:768px) {
    .header .header-flex,
    .footer .footer-flex,
    .services .services-Item,
    .team .team-flex{
        flex-direction: column; 
        gap: 1.5rem;
        align-items: center;
        text-align: center;
    }
    .header .main-menu{
        gap: 0.5rem;
    }

    .header .main-menu a{
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }
 
    .hero{
        height: 300px;
    }
    .hero h2{
        font-size: 1.8rem;
    }

    .gallery-item{
        flex: 0 0 calc(50% - 20);
        max-width: calc(50%-20px);
    }

    .footer .footer-flex{
        text-align: center;
    }

    .footer h4{ 
        font-size: 1.2 rem;
    
    }


}

